body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;

    background: url("../assets/images/PUPT-picture.jpg") center/cover no-repeat;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";

    position: fixed;

    inset: 0;

    background: rgba(0, 0, 0, 0.45);

    backdrop-filter: blur(4px);

    pointer-events: none;
}

.login-page {
    position: relative;

    z-index: 2;

    width: 100%;

    display: flex;

    justify-content: center;

    padding: 20px;
}

.login-card {
    width: 100%;

    max-width: 430px;

    background: #fff;

    border-radius: 20px;

    padding: 40px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 90px;

    display: block;

    margin: 0 auto 20px;
}

h2 {
    text-align: center;

    color: #7d1515;

    font-weight: 700;
}

.subtitle {
    text-align: center;

    color: #777;

    margin-bottom: 25px;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 45px;
}

.toggle-password {
    position: absolute;

    top: 50%;

    right: 10px;

    transform: translateY(-50%);

    border: none;

    background: none;

    cursor: pointer;

    color: #777;
}

.login-btn {
    padding: 12px;

    font-size: 16px;

    font-weight: 600;
}

.footer-links {
    margin-top: 25px;

    display: flex;

    justify-content: space-between;
}

.footer-links a {
    text-decoration: none;

    font-size: 14px;
}
